body{
    background-color: rgb(50, 50, 50);
    color: white;
    /* font-family:'Courier New', Courier, monospace; */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.hidden{
    display: none;
}

.hide{
    opacity: 0;
}

.menu-btn{
    width: 2em;
    height: 1.75em;
    background-color: grey;
    border-style: solid;
    border-radius: 0.25em;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.menu-btn-line{
    height: 1px;
    background-color: white;
    width: 70%;
    /* padding: 0.25em; */
}

.side-menu{
    opacity: 0;
	position: fixed;
	width: 0%;
	height: 100%;
	z-index: 1;
	overflow-x: hidden;
	top: 0;
	left: 0;
	background-color: rgb(70, 70, 100);
	/* text-align: center; */
    cursor: pointer;
}

.side-menu .menu-item{
    padding: 0.25em;
    height: 2em;
}

.side-menu .menu-item:hover{
    text-decoration: underline;
}
.side-menu .menu-close{
    padding: 0.5em;
    text-align: right;
    font-size: large;
}

.data-table{
    text-align: right;
    cursor: pointer;
    width: 100%;
}

/* .data-table table{
    width: 100%;
} */

.data-table th{
    padding: 0.25em;
    text-align: center;
    background-color: white;
    color: black;
}

.data-table td{
    padding: 0.25em;
}

.data-table tr:hover{
    background-color: rgb(82, 82, 82);
}

.data-table .id-col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.total-row{
    font-weight: bold;
    background-color: rgb(70, 70, 100);
}

.hint{
    font-size: smaller;
}

.button{
    padding: 0.5em;
    cursor: pointer;
    background-color: white;
}

/* #import_options{
    text-align: left;
} */


#new-trans-add-btn{
    width: 3em;
    cursor: pointer;
}