
.trans-table{
    text-align: right;
    /* font-size: small; */
    cursor: pointer;
    width: 100%;
}

/* .trans-table table{
    width: 100%;
} */

.trans-table th{
    padding: 0.25em;
    text-align: center;
    background-color: white;
    color: black;
}

.trans-table td{
    padding: 0.25em;
}

/* .trans-table tr:hover{
    background-color: rgb(82, 82, 82);
} */

.trans-table .id-col{
    /*display: flex;
    flex-direction: row;
    justify-content: space-between;*/
    text-align: center;
    
}

.trans-table .credit{
    background-color: green;
    color: white;
}

.trans-table .unsaved{
    color: skyblue
}

.total-row{
    font-weight: bold;
    background-color: rgb(70, 70, 100);
}

#new-trans-add-btn{
    width: 3em;
    cursor: pointer;
}

.trans-table .input-small{
    display: inline-block;
    border: none; 

    width: 10em;
    padding: 0.25em;
    font-size: small;
    /* border-radius: 10%; */
}

#newTranDate{
    width: 10em;
    font-size: small;
    padding: 0.125em;
}

#tran-type-toggle{
    font-size: small;
    padding: 0.30em;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

#tran-type-toggle.debit{
    background-color: rgb(223, 84, 84);
    color: white;
}

#tran-type-toggle.credit{
    background-color: green;
    color: white;
}
